In [9]:
import numpy as np

In [7]:
%%time
x=0
y=0
for i in range(100,1000):
    for j in range(100,1000):
        if str(i*j)==str(i*j)[::-1] and x<i*j:
            if x < i*j:
                x=i*j

Wall time: 499 ms

In [8]:
x

906609

In [15]:
score=np.random.randint(1,100,100)

In [16]:
grade=[]
for i in score:
    if i>=90:
        grade.append('A')
    elif i>=80:
        grade.append('B')
    elif i>= 70:
        grade.append('C')
    else:
        grade.append('D')

In [18]:
score

array([38, 77, 51, 31, 58, 85, 78, 95,  5,  3,  8, 56, 80, 31, 42, 82, 65,
       13,  9, 94, 92,  2, 97,  4, 80,  2, 90, 18, 24, 90, 10, 66, 28, 41,
       28,  6, 19,  4,  7, 24, 43, 85, 27, 38, 73, 38, 22, 61, 52, 50, 32,
       27,  4,  3,  1, 98, 70, 22, 15, 55, 72, 56, 94, 26, 30, 58, 72, 98,
       15,  8, 99, 89, 23, 41, 84, 33, 49, 62, 25, 61, 55, 25, 10, 67, 52,
       84, 52,  6, 32, 72, 16, 22, 62, 24, 51, 77, 75, 81, 44, 70])

In [23]:
def and_bool(x,y):
    return x+y==2

In [24]:
and_bool(True,False)

False

In [27]:
def or_bool(x,y):
    return x+y>=1

In [28]:
or_bool(True,False)

True

In [30]:
def xor_bool(x,y):
    return x+y==1

In [32]:
xor_bool(True,True)

False

In [33]:
x=[[1,2,3],[4,5,6]]

In [35]:
x[0][1:3]

[2, 3]

In [36]:
import pandas as pd

In [37]:
import matplotlib.pyplot as plt

In [ ]:
engine = create_

In [72]:
from sqlalchemy import create_engine
import cx_Oracle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

engine=create_engine('oracle://c##big:123@localhost:1521/orcl’)
iris = pd.read_sql_query('select * from iris’,con=engine)
df=pd.read_sql_query('select * from iris', con=engine)
df.loc[df.sp="setosa",'sp']

SyntaxError: EOL while scanning string literal (<ipython-input-72-5604dcea007d>, line 7)

In [8]:
from sklearn.datasets import load_wine, load_boston
import numpy as np
import pandas as pd

In [4]:
boston_data=load_boston()
wine_data=load_wine()

In [9]:
boston_df = pd.DataFrame(boston_data['data'])

In [13]:
boston_df.columns=boston_data['feature_names']

In [15]:
boston_df1=boston_df.iloc[:,:7]
boston_df2=boston_df.iloc[:,7:]

In [19]:
boston_df1

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2
..       ...   ...    ...   ...    ...    ...   ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8

[506 rows x 7 columns]

In [20]:
boston_df1.dtypes

CRIM     float64
ZN       float64
INDUS    float64
CHAS     float64
NOX      float64
RM       float64
AGE      float64
dtype: object

In [21]:
boston_df2.dtypes

DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
dtype: object

In [22]:
import numpy as np
import pandas as pd

In [101]:
x=[]
for i in [1,2,3]:
    x.append(i*4)
x

[4, 8, 12]

In [102]:
np.array([1,2,3])*4

array([ 4,  8, 12])

In [103]:
np.array(np.arange(10)).reshape(2,5,1).ndim

3

In [104]:
x=pd.Series(x)
x[0]
x+3

0     7
1    11
2    15
dtype: int64

In [105]:
y=pd.DataFrame(x)
print(x.values)
print(y.values)

[ 4  8 12]
[[ 4]
 [ 8]
 [12]]

In [106]:
y.columns

RangeIndex(start=0, stop=1, step=1)

In [107]:
y.columns=['col_name1']

In [108]:
y

   col_name1
0          4
1          8
2         12

In [109]:
y['col_name2']=x+3

In [110]:
y.index=['one','two','three']

In [111]:
y

       col_name1  col_name2
one            4          7
two            8         11
three         12         15

In [88]:
# y에서 col_name2의 가장 큰 값을 찾고 해당 row의 col_name1값을 찾으시오.

In [120]:
y.col_name2.max()

15

In [63]:
x=np.array([5,2,3,4])

In [68]:
x[[True,False,False,True]]

array([5, 4])

In [70]:
x[x>3]

array([5, 4])

In [115]:
y.iloc[2,0]

12

In [ ]:
y.iloc[y.col_name2==y.col_name2.max()]

In [118]:
y.reset_index().index[(y.col_name2==y.col_name2.max())]

Int64Index([2], dtype='int64')

In [119]:
y.iloc[y.reset_index().index[(y.col_name2==y.col_name2.max())],0]

three    12
Name: col_name1, dtype: int64

In [74]:
x=['1','2','3']
y=list(map(int,x))

In [77]:
x=pd.Series(['1','2','3']).apply(int)
y=list(x)

In [78]:
x

0    1
1    2
2    3
dtype: int64

In [79]:
y

[1, 2, 3]

In [121]:
boston_df1

## insert into boston_master(seq,crim,zn,indus,chas,nox,rm,age) values(0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2
..       ...   ...    ...   ...    ...    ...   ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8

[506 rows x 7 columns]

In [126]:
boston_df1.to_excel('boston_df1.xlsx')

In [127]:
boston_df2

        DIS  RAD    TAX  PTRATIO       B  LSTAT
0    4.0900  1.0  296.0     15.3  396.90   4.98
1    4.9671  2.0  242.0     17.8  396.90   9.14
2    4.9671  2.0  242.0     17.8  392.83   4.03
3    6.0622  3.0  222.0     18.7  394.63   2.94
4    6.0622  3.0  222.0     18.7  396.90   5.33
..      ...  ...    ...      ...     ...    ...
501  2.4786  1.0  273.0     21.0  391.99   9.67
502  2.2875  1.0  273.0     21.0  396.90   9.08
503  2.1675  1.0  273.0     21.0  396.90   5.64
504  2.3889  1.0  273.0     21.0  393.45   6.48
505  2.5050  1.0  273.0     21.0  396.90   7.88

[506 rows x 6 columns]

In [163]:

for i in boston_df2.index:
    print(stmt,(i,)+tuple(boston_df2.iloc[i,:].values),';')

insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (0, 4.09, 1.0, 296.0, 15.3, 396.9, 4.98) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (1, 4.9671, 2.0, 242.0, 17.8, 396.9, 9.14) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (2, 4.9671, 2.0, 242.0, 17.8, 392.83, 4.03) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (3, 6.0622, 3.0, 222.0, 18.7, 394.63, 2.94) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (4, 6.0622, 3.0, 222.0, 18.7, 396.9, 5.33) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (5, 6.0622, 3.0, 222.0, 18.7, 394.12, 5.21) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (6, 5.5605, 5.0, 311.0, 15.2, 395.6, 12.43) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (7, 5.9505, 5.0, 311.0, 15.2, 396.9, 19.15) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (8, 6.0821, 5.0, 311.0, 15.2, 386.63, 29.93) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (9, 6.5921, 5.0, 311.0, 15.2, 386.71, 17.1) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (10, 6.3467, 5.0, 311.0, 15.2, 392.52, 20.45) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (11, 6.2267, 5.0, 311.0, 15.2, 396.9, 13.27) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (12, 5.4509, 5.0, 311.0, 15.2, 390.5, 15.71) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (13, 4.7075, 4.0, 307.0, 21.0, 396.9, 8.26) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (14, 4.4619, 4.0, 307.0, 21.0, 380.02, 10.26) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (15, 4.4986, 4.0, 307.0, 21.0, 395.62, 8.47) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (16, 4.4986, 4.0, 307.0, 21.0, 386.85, 6.58) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (17, 4.2579, 4.0, 307.0, 21.0, 386.75, 14.67) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (18, 3.7965, 4.0, 307.0, 21.0, 288.99, 11.69) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (19, 3.7965, 4.0, 307.0, 21.0, 390.95, 11.28) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (20, 3.7979, 4.0, 307.0, 21.0, 376.57, 21.02) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (21, 4.0123, 4.0, 307.0, 21.0, 392.53, 13.83) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (22, 3.9769, 4.0, 307.0, 21.0, 396.9, 18.72) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (23, 4.0952, 4.0, 307.0, 21.0, 394.54, 19.88) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (24, 4.3996, 4.0, 307.0, 21.0, 394.33, 16.3) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (25, 4.4546, 4.0, 307.0, 21.0, 303.42, 16.51) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (26, 4.682, 4.0, 307.0, 21.0, 376.88, 14.81) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (27, 4.4534, 4.0, 307.0, 21.0, 306.38, 17.28) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (28, 4.4547, 4.0, 307.0, 21.0, 387.94, 12.8) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (29, 4.239, 4.0, 307.0, 21.0, 380.23, 11.98) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (30, 4.233, 4.0, 307.0, 21.0, 360.17, 22.6) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (31, 4.175, 4.0, 307.0, 21.0, 376.73, 13.04) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (32, 3.99, 4.0, 307.0, 21.0, 232.6, 27.71) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (33, 3.7872, 4.0, 307.0, 21.0, 358.77, 18.35) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (34, 3.7598, 4.0, 307.0, 21.0, 248.31, 20.34) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (35, 3.3603, 5.0, 279.0, 19.2, 396.9, 9.68) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (36, 3.3779, 5.0, 279.0, 19.2, 377.56, 11.41) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (37, 3.9342, 5.0, 279.0, 19.2, 396.9, 8.77) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (38, 3.8473, 5.0, 279.0, 19.2, 393.43, 10.13) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (39, 5.4011, 3.0, 252.0, 18.3, 395.63, 4.32) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (40, 5.4011, 3.0, 252.0, 18.3, 395.62, 1.98) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (41, 5.7209, 3.0, 233.0, 17.9, 385.41, 4.84) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (42, 5.7209, 3.0, 233.0, 17.9, 383.37, 5.81) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (43, 5.7209, 3.0, 233.0, 17.9, 394.46, 7.44) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (44, 5.7209, 3.0, 233.0, 17.9, 389.39, 9.55) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (45, 5.1004, 3.0, 233.0, 17.9, 396.9, 10.21) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (46, 5.1004, 3.0, 233.0, 17.9, 396.9, 14.15) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (47, 5.6894, 3.0, 233.0, 17.9, 392.74, 18.8) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (48, 5.87, 3.0, 233.0, 17.9, 396.9, 30.81) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (49, 6.0877, 3.0, 233.0, 17.9, 396.9, 16.2) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (50, 6.8147, 4.0, 243.0, 16.8, 395.56, 13.45) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (51, 6.8147, 4.0, 243.0, 16.8, 393.97, 9.43) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (52, 6.8147, 4.0, 243.0, 16.8, 396.9, 5.28) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (53, 6.8147, 4.0, 243.0, 16.8, 396.9, 8.43) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (54, 7.3197, 3.0, 469.0, 21.1, 396.9, 14.8) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (55, 8.6966, 5.0, 226.0, 17.9, 395.93, 4.81) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (56, 9.1876, 2.0, 313.0, 17.3, 396.9, 5.77) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (57, 8.3248, 5.0, 256.0, 15.1, 392.9, 3.95) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (58, 7.8148, 8.0, 284.0, 19.7, 390.68, 6.86) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (59, 6.932, 8.0, 284.0, 19.7, 396.9, 9.22) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (60, 7.2254, 8.0, 284.0, 19.7, 395.11, 13.15) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (61, 6.8185, 8.0, 284.0, 19.7, 378.08, 14.44) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (62, 7.2255, 8.0, 284.0, 19.7, 396.9, 6.73) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (63, 7.9809, 8.0, 284.0, 19.7, 395.58, 9.5) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (64, 9.2229, 3.0, 216.0, 18.6, 393.24, 8.05) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (65, 6.6115, 4.0, 337.0, 16.1, 396.9, 4.67) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (66, 6.6115, 4.0, 337.0, 16.1, 396.9, 10.24) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (67, 6.498, 4.0, 345.0, 18.9, 396.21, 8.1) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (68, 6.498, 4.0, 345.0, 18.9, 396.9, 13.09) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (69, 6.498, 4.0, 345.0, 18.9, 396.9, 8.79) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (70, 5.2873, 4.0, 305.0, 19.2, 383.73, 6.72) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (71, 5.2873, 4.0, 305.0, 19.2, 376.94, 9.88) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (72, 5.2873, 4.0, 305.0, 19.2, 390.91, 5.52) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (73, 5.2873, 4.0, 305.0, 19.2, 377.17, 7.54) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (74, 4.2515, 5.0, 398.0, 18.7, 394.92, 6.78) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (75, 4.5026, 5.0, 398.0, 18.7, 383.23, 8.94) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (76, 4.0522, 5.0, 398.0, 18.7, 373.66, 11.97) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (77, 4.0905, 5.0, 398.0, 18.7, 386.96, 10.27) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (78, 5.0141, 5.0, 398.0, 18.7, 386.4, 12.34) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (79, 4.5026, 5.0, 398.0, 18.7, 396.06, 9.1) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (80, 5.4007, 4.0, 281.0, 19.0, 396.9, 5.29) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (81, 5.4007, 4.0, 281.0, 19.0, 395.63, 7.22) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (82, 5.4007, 4.0, 281.0, 19.0, 396.9, 6.72) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (83, 5.4007, 4.0, 281.0, 19.0, 390.64, 7.51) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (84, 4.7794, 3.0, 247.0, 18.5, 396.9, 9.62) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (85, 4.4377, 3.0, 247.0, 18.5, 392.3, 6.53) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (86, 4.4272, 3.0, 247.0, 18.5, 395.99, 12.86) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (87, 3.7476, 3.0, 247.0, 18.5, 395.15, 8.44) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (88, 3.4217, 2.0, 270.0, 17.8, 396.9, 5.5) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (89, 3.4145, 2.0, 270.0, 17.8, 396.06, 5.7) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (90, 3.0923, 2.0, 270.0, 17.8, 392.18, 8.81) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (91, 3.0921, 2.0, 270.0, 17.8, 393.55, 8.2) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (92, 3.6659, 4.0, 270.0, 18.2, 395.01, 8.16) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (93, 3.6659, 4.0, 270.0, 18.2, 396.33, 6.21) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (94, 3.615, 4.0, 270.0, 18.2, 396.9, 10.59) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (95, 3.4952, 2.0, 276.0, 18.0, 357.98, 6.65) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (96, 3.4952, 2.0, 276.0, 18.0, 391.83, 11.34) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (97, 3.4952, 2.0, 276.0, 18.0, 396.9, 4.21) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (98, 3.4952, 2.0, 276.0, 18.0, 393.53, 3.57) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (99, 3.4952, 2.0, 276.0, 18.0, 396.9, 6.19) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (100, 2.7778, 5.0, 384.0, 20.9, 394.76, 9.42) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (101, 2.8561, 5.0, 384.0, 20.9, 395.58, 7.67) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (102, 2.7147, 5.0, 384.0, 20.9, 70.8, 10.63) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (103, 2.7147, 5.0, 384.0, 20.9, 394.47, 13.44) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (104, 2.421, 5.0, 384.0, 20.9, 392.69, 12.33) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (105, 2.1069, 5.0, 384.0, 20.9, 394.05, 16.47) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (106, 2.211, 5.0, 384.0, 20.9, 395.67, 18.66) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (107, 2.1224, 5.0, 384.0, 20.9, 387.69, 14.09) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (108, 2.4329, 5.0, 384.0, 20.9, 395.24, 12.27) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (109, 2.5451, 5.0, 384.0, 20.9, 391.23, 15.55) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (110, 2.7778, 5.0, 384.0, 20.9, 393.49, 13.0) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (111, 2.6775, 6.0, 432.0, 17.8, 395.59, 10.16) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (112, 2.3534, 6.0, 432.0, 17.8, 394.95, 16.21) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (113, 2.548, 6.0, 432.0, 17.8, 396.9, 17.09) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (114, 2.2565, 6.0, 432.0, 17.8, 388.74, 10.45) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (115, 2.4631, 6.0, 432.0, 17.8, 344.91, 15.76) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (116, 2.7301, 6.0, 432.0, 17.8, 393.3, 12.04) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (117, 2.7474, 6.0, 432.0, 17.8, 394.51, 10.3) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (118, 2.4775, 6.0, 432.0, 17.8, 338.63, 15.37) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (119, 2.7592, 6.0, 432.0, 17.8, 391.5, 13.61) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (120, 2.2577, 2.0, 188.0, 19.1, 389.15, 14.37) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (121, 2.1974, 2.0, 188.0, 19.1, 377.67, 14.27) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (122, 2.0869, 2.0, 188.0, 19.1, 378.09, 17.93) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (123, 1.9444, 2.0, 188.0, 19.1, 370.31, 25.41) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (124, 2.0063, 2.0, 188.0, 19.1, 379.38, 17.58) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (125, 1.9929, 2.0, 188.0, 19.1, 385.02, 14.81) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (126, 1.7572, 2.0, 188.0, 19.1, 359.29, 27.26) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (127, 1.7883, 4.0, 437.0, 21.2, 392.11, 17.19) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (128, 1.8125, 4.0, 437.0, 21.2, 396.9, 15.39) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (129, 1.9799, 4.0, 437.0, 21.2, 396.9, 18.34) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (130, 2.1185, 4.0, 437.0, 21.2, 395.04, 12.6) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (131, 2.271, 4.0, 437.0, 21.2, 396.9, 12.26) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (132, 2.3274, 4.0, 437.0, 21.2, 385.76, 11.12) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (133, 2.4699, 4.0, 437.0, 21.2, 388.69, 15.03) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (134, 2.346, 4.0, 437.0, 21.2, 262.76, 17.31) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (135, 2.1107, 4.0, 437.0, 21.2, 394.67, 16.96) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (136, 1.9669, 4.0, 437.0, 21.2, 378.25, 16.9) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (137, 1.8498, 4.0, 437.0, 21.2, 394.08, 14.59) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (138, 1.6686, 4.0, 437.0, 21.2, 392.04, 21.32) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (139, 1.6687, 4.0, 437.0, 21.2, 396.9, 18.46) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (140, 1.6119, 4.0, 437.0, 21.2, 388.08, 24.16) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (141, 1.4394, 4.0, 437.0, 21.2, 396.9, 34.41) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (142, 1.3216, 5.0, 403.0, 14.7, 396.9, 26.82) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (143, 1.4118, 5.0, 403.0, 14.7, 396.9, 26.42) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (144, 1.3459, 5.0, 403.0, 14.7, 396.9, 29.29) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (145, 1.4191, 5.0, 403.0, 14.7, 172.91, 27.8) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (146, 1.5166, 5.0, 403.0, 14.7, 169.27, 16.65) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (147, 1.4608, 5.0, 403.0, 14.7, 391.71, 29.53) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (148, 1.5296, 5.0, 403.0, 14.7, 356.99, 28.32) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (149, 1.5257, 5.0, 403.0, 14.7, 351.85, 21.45) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (150, 1.618, 5.0, 403.0, 14.7, 372.8, 14.1) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (151, 1.5916, 5.0, 403.0, 14.7, 341.6, 13.28) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (152, 1.6102, 5.0, 403.0, 14.7, 343.28, 12.12) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (153, 1.6232, 5.0, 403.0, 14.7, 261.95, 15.79) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (154, 1.7494, 5.0, 403.0, 14.7, 321.02, 15.12) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (155, 1.7455, 5.0, 403.0, 14.7, 88.01, 15.02) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (156, 1.7364, 5.0, 403.0, 14.7, 88.63, 16.14) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (157, 1.8773, 5.0, 403.0, 14.7, 363.43, 4.59) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (158, 1.7573, 5.0, 403.0, 14.7, 353.89, 6.43) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (159, 1.7659, 5.0, 403.0, 14.7, 364.31, 7.39) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (160, 1.7984, 5.0, 403.0, 14.7, 338.92, 5.5) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (161, 1.9709, 5.0, 403.0, 14.7, 374.43, 1.73) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (162, 2.0407, 5.0, 403.0, 14.7, 389.61, 1.92) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (163, 2.162, 5.0, 403.0, 14.7, 388.45, 3.32) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (164, 2.422, 5.0, 403.0, 14.7, 395.11, 11.64) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (165, 2.2834, 5.0, 403.0, 14.7, 240.16, 9.81) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (166, 2.0459, 5.0, 403.0, 14.7, 369.3, 3.7) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (167, 2.4259, 5.0, 403.0, 14.7, 227.61, 12.14) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (168, 2.1, 5.0, 403.0, 14.7, 297.09, 11.1) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (169, 2.2625, 5.0, 403.0, 14.7, 330.04, 11.32) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (170, 2.4259, 5.0, 403.0, 14.7, 292.29, 14.43) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (171, 2.3887, 5.0, 403.0, 14.7, 348.13, 12.03) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (172, 2.5961, 5.0, 296.0, 16.6, 396.9, 14.69) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (173, 2.6463, 5.0, 296.0, 16.6, 395.5, 9.04) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (174, 2.7019, 5.0, 296.0, 16.6, 393.23, 9.64) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (175, 3.1323, 5.0, 296.0, 16.6, 390.96, 5.33) ;
insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values (176, 3.5549, 5.0, 296.0, 16.6, 393.23, 10.11) ;

In [157]:
stmt='insert into boston_slave(seq,DIS,RAD,TAX,PTRATIO,B,LSTAT) values'

boston_df2.columns

Index(['DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='object')

In [164]:
df = pd.read_csv('https://datahub.io/five-thirty-eight/alcohol-consumption/r/drinks.csv')

In [165]:
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,afghanistan,0,0,0,0.0
1,albania,89,132,54,4.9
2,algeria,25,0,14,0.7
3,andorra,245,138,312,12.4
4,angola,217,57,45,5.9
...,...,...,...,...,...
188,venezuela,333,100,3,7.7
189,vietnam,111,2,1,2.0
190,yemen,6,0,0,0.1
191,zambia,32,19,4,2.5
192,zimbabwe,64,18,4,4.7

In [170]:
df.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [174]:
stmt2='insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values'
for i in df.index:
    print(stmt2,tuple(df.iloc[i,:].values),';')

insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('afghanistan', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('albania', 89, 132, 54, 4.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('algeria', 25, 0, 14, 0.7) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('andorra', 245, 138, 312, 12.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('angola', 217, 57, 45, 5.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('antigua & barbuda', 102, 128, 45, 4.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('argentina', 193, 25, 221, 8.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('armenia', 21, 179, 11, 3.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('australia', 261, 72, 212, 10.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('austria', 279, 75, 191, 9.7) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('azerbaijan', 21, 46, 5, 1.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('bahamas', 122, 176, 51, 6.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('bahrain', 42, 63, 7, 2.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('bangladesh', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('barbados', 143, 173, 36, 6.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('belarus', 142, 373, 42, 14.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('belgium', 295, 84, 212, 10.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('belize', 263, 114, 8, 6.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('benin', 34, 4, 13, 1.1) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('bhutan', 23, 0, 0, 0.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('bolivia', 167, 41, 8, 3.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('bosnia-herzegovina', 76, 173, 8, 4.6) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('botswana', 173, 35, 35, 5.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('brazil', 245, 145, 16, 7.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('brunei', 31, 2, 1, 0.6) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('bulgaria', 231, 252, 94, 10.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('burkina faso', 25, 7, 7, 4.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('burundi', 88, 0, 0, 6.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ("cote d'ivoire", 37, 1, 7, 4.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('cabo verde', 144, 56, 16, 4.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('cambodia', 57, 65, 1, 2.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('cameroon', 147, 1, 4, 5.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('canada', 240, 122, 100, 8.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('central african republic', 17, 2, 1, 1.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('chad', 15, 1, 1, 0.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('chile', 130, 124, 172, 7.6) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('china', 79, 192, 8, 5.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('colombia', 159, 76, 3, 4.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('comoros', 1, 3, 1, 0.1) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('congo', 76, 1, 9, 1.7) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('cook islands', 0, 254, 74, 5.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('costa rica', 149, 87, 11, 4.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('croatia', 230, 87, 254, 10.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('cuba', 93, 137, 5, 4.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('cyprus', 192, 154, 113, 8.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('czech republic', 361, 170, 134, 11.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('north korea', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('dr congo', 32, 3, 1, 2.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('denmark', 224, 81, 278, 10.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('djibouti', 15, 44, 3, 1.1) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('dominica', 52, 286, 26, 6.6) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('dominican republic', 193, 147, 9, 6.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('ecuador', 162, 74, 3, 4.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('egypt', 6, 4, 1, 0.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('el salvador', 52, 69, 2, 2.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('equatorial guinea', 92, 0, 233, 5.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('eritrea', 18, 0, 0, 0.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('estonia', 224, 194, 59, 9.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('ethiopia', 20, 3, 0, 0.7) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('fiji', 77, 35, 1, 2.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('finland', 263, 133, 97, 10.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('france', 127, 151, 370, 11.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('gabon', 347, 98, 59, 8.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('gambia', 8, 0, 1, 2.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('georgia', 52, 100, 149, 5.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('germany', 346, 117, 175, 11.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('ghana', 31, 3, 10, 1.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('greece', 133, 112, 218, 8.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('grenada', 199, 438, 28, 11.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('guatemala', 53, 69, 2, 2.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('guinea', 9, 0, 2, 0.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('guinea-bissau', 28, 31, 21, 2.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('guyana', 93, 302, 1, 7.1) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('haiti', 1, 326, 1, 5.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('honduras', 69, 98, 2, 3.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('hungary', 234, 215, 185, 11.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('iceland', 233, 61, 78, 6.6) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('india', 9, 114, 0, 2.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('indonesia', 5, 1, 0, 0.1) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('iran', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('iraq', 9, 3, 0, 0.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('ireland', 313, 118, 165, 11.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('israel', 63, 69, 9, 2.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('italy', 85, 42, 237, 6.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('jamaica', 82, 97, 9, 3.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('japan', 77, 202, 16, 7.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('jordan', 6, 21, 1, 0.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('kazakhstan', 124, 246, 12, 6.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('kenya', 58, 22, 2, 1.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('kiribati', 21, 34, 1, 1.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('kuwait', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('kyrgyzstan', 31, 97, 6, 2.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('laos', 62, 0, 123, 6.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('latvia', 281, 216, 62, 10.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('lebanon', 20, 55, 31, 1.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('lesotho', 82, 29, 0, 2.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('liberia', 19, 152, 2, 3.1) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('libya', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('lithuania', 343, 244, 56, 12.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('luxembourg', 236, 133, 271, 11.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('madagascar', 26, 15, 4, 0.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('malawi', 8, 11, 1, 1.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('malaysia', 13, 4, 0, 0.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('maldives', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('mali', 5, 1, 1, 0.6) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('malta', 149, 100, 120, 6.6) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('marshall islands', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('mauritania', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('mauritius', 98, 31, 18, 2.6) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('mexico', 238, 68, 5, 5.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('micronesia', 62, 50, 18, 2.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('monaco', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('mongolia', 77, 189, 8, 4.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('montenegro', 31, 114, 128, 4.9) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('morocco', 12, 6, 10, 0.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('mozambique', 47, 18, 5, 1.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('myanmar', 5, 1, 0, 0.1) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('namibia', 376, 3, 1, 6.8) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('nauru', 49, 0, 8, 1.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('nepal', 5, 6, 0, 0.2) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('netherlands', 251, 88, 190, 9.4) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('new zealand', 203, 79, 175, 9.3) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('nicaragua', 78, 118, 1, 3.5) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('niger', 3, 2, 1, 0.1) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('nigeria', 42, 5, 2, 9.1) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('niue', 188, 200, 7, 7.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('norway', 169, 71, 129, 6.7) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('oman', 22, 16, 1, 0.7) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('pakistan', 0, 0, 0, 0.0) ;
insert into alcohol_consumption(country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol) values ('palau', 306, 63, 23, 6.9) ;

AttributeError: 'DataFrame' object has no attribute 'colnames'