## 자료형 / 자료구조
 - 숫자
 - 문자열
 - 리스트
 - 딕셔너리
 - 튜플
 - 집합

In [18]:
a = 120
b = 40
a
b

40

#### 숫자형 자료형(연산자)

In [19]:
a/b # 나누기

3

In [8]:
(a/b)**2 # 제곱

9.0

In [15]:
a%b # 나머지

0

In [16]:
a//b # 몫

3

In [34]:
int(3)

3

In [35]:
a = 5

In [36]:
type(a)

int

In [37]:
int(3.7)

3

In [38]:
float(2.21)

2.21

In [39]:
b = 3.7

In [41]:
type(3.7)

float

#### 문자열

In [1]:
"I" - "I"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [2]:
"I" + "I"

'II'

In [1]:
string = "I am Sam"
string1 = 'This is awesome'

In [2]:
type(string)

str

In [1]:
"""Life is too short, You need python"""

'Life is too short, You need python'

In [2]:
'''Life is too short, You need python'''

'Life is too short, You need python'

In [3]:
"She is Paul's friend"

"She is Paul's friend"

In [24]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

In [5]:
'She is Paul\'s friend'

"She is Paul's friend"

In [28]:
"\"Python is very easy.\" he says."

'"Python is very easy." he says.'

In [46]:
## 개행
multiline = "I am Sam\nWho is this"
print(multiline)

I am Sam
Who is this

In [6]:
multiline1 = '''I am Sam
Who is this'''
print(multiline1)

I am Sam
Who is this

In [ ]:
## 문자열 더하기

In [24]:
h = "I "
t = 'am Sam '
h+t

'I am Sam '

In [10]:
(h+t)*2

'I am Sam I am Sam '

In [11]:
print("="*20)
print("awesome")
print("="*20)

====================
awesome
====================

In [12]:
len((h+t))

9

In [ ]:
## 문자열 인덱싱

In [13]:
(h+t)[7]

'm'

In [25]:
d = h+t
print(d)

I am Sam

In [21]:
d

'I am Sam '

In [ ]:
## 문자열 슬라이싱

' '

In [26]:
d[0]+d[1]+d[2]+d[3]

'I am'

In [27]:
len(d)

9

In [30]:
d[-1]

' '

In [29]:
d[-9]+d[-8]+d[-7]+d[-6]

'I am'

In [71]:
d[0:4]

'I am'

In [72]:
d[-9:-5]

'I am'

In [73]:
d[2:]

'am Sam '

In [74]:
d[:4]

'I am'

In [75]:
d[4]

' '

In [20]:
test = '20190727cool'

In [5]:
year = test[:4]
date = test[4:8]
condition = test[8:]

In [6]:
print(year)
print(date)
print(condition)

2019
0727
cool

In [84]:
test[:-4]+'k'+test[9:]

'20190727kool'

---

test = [year, date]
위 문자열을 수치형으로 바꾸고 싶다면?
- 방법 1 : for loop
- 방법 2 : map()

In [7]:
test = [year, date]

In [8]:
test

['2019', '0727']

In [12]:
[int(test[0]), int(test[1])]

[2019, 727]

In [13]:
type([int(test[0]), int(test[1])])

list

In [17]:
[1,'a'][1]

'a'

map함수 적용시 list()로 감싸야만 결과를 바로 반환받음

In [12]:
list(map(int, test))

[2019, 727]

In [10]:
result = []
for i in test:
    result.append(int(i))

SyntaxError: invalid syntax (<ipython-input-10-c361b8729a60>, line 1)

In [16]:
result

[2019, 727]

---

In [23]:
## 문자열 포매팅

"I eat %d apples." % 3

'I eat 3 apples.'

In [1]:
"I eat %s apples." % 5

'I eat 5 apples.'

In [86]:
"현재 온도는 %d도 입니다" % 20

'현재 온도는 20도 입니다'

In [23]:
"현재 온도는 %d도 입니다" % '이'

TypeError: %d format: a number is required, not str

In [92]:
"현재 온도는 %s도 입니다" % '이십'

'현재 온도는 이십도 입니다'

In [19]:
num = 7
"I eat %d apples." % num

'I eat 7 apples.'

In [59]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % ( number, day)

'I ate 10 apples. so I was sick for three days.'

### %기호를 붙일 때

In [8]:
print('probability is 99%')

probability is 99%

In [26]:
print('probability is %d%%' %99)

probability is 99%

In [27]:
'probability is %d%%' % 99

'probability is 99%'

In [29]:
'나는%'

'나는%'

In [ ]:
# %s : 문자열(String)
# %c : 문자 1개(character)
# %d : 정수(Integer)
# %f : 부동소수(floating-point)

In [ ]:
## 문자열 정렬 및 공백

In [29]:
t = "%10s" % 'hi'

In [30]:
t

'        hi'

In [32]:
"%0.4f" % 3.425897

'3.4259'

In [8]:
"%10.4f" % 3.425897

'    3.4259'

In [45]:
"{:10.4f}".format(3.425897)

'    3.4259'

In [ ]:
# format 함수 사용 포매팅

In [33]:
"{:.4f}".format(10)

'10.0000'

In [17]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [18]:
"I eat {0} apples".format("five")

'I eat five apples'

In [ ]:
#다른예:0없이

In [34]:
a = 'I am {}'

In [35]:
a.format(20)

'I am 20'

In [ ]:
# 2개 이상의 값 넣기

In [22]:
number = 10
day = "three"
"I ate {} apples. so I was sick for {} days.".format(day, number)

'I ate three apples. so I was sick for 10 days.'

In [14]:
number = 10
day = "three"
"I ate {number} apples. so I was sick for {day} days.".format(number, day)

KeyError: 'number'

In [44]:
"I ate {number} apples. so I was sick for {number} days.".format(number=10, day=8)

'I ate 10 apples. so I was sick for 10 days.'

In [43]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=8)

'I ate 10 apples. so I was sick for 8 days.'

In [41]:
number = 10
day = "three"
# 이름으로 넣기

In [25]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [51]:
"I ate {day} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 3 apples. so I was sick for 3 days.'

In [ ]:
# 인덱스 / 이름 혼용

In [36]:
day = 3
"I ate {0} apples. so I was sick for {day} days.".format(10, day)

KeyError: 'day'

In [ ]:
# 왼쪽 정렬

In [37]:
"{:<10}".format("hi")

'hi        '

In [ ]:
# 오른쪽 정렬

In [29]:
"{:>10}".format("hi")

'        hi'

In [ ]:
# 가운데 정렬

In [13]:
"{0:^10}".format("hi")

'    hi    '

In [ ]:
# 공백 채우기

In [42]:
"{:-^10}".format("hi")

'----hi----'

In [15]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [9]:
a = 5.4222
"{:.2f}".format(a)

'5.42'

## 리스트 자료형

In [2]:
odd = [1,3,5,7,9]

In [45]:
a = [1,2,'a']

In [46]:
a*2

[1, 2, 'a', 1, 2, 'a']

In [ ]:
# 빈 리스트

In [9]:
a = []
a.extend([1,2,3])
a

[1, 2, 3]

In [10]:
a.extend([4,5])

In [11]:
a.pop()

5

In [12]:
a

[1, 2, 3, 4]

### 얕은복사 vs 깊은복사

In [13]:
b = a.copy()

In [14]:
b

[1, 2, 3, 4]

In [15]:
c = a

In [19]:
print(id(a)) ; print(id(b)) ; print(id(c))

2469533048904
2469533049544
2469533048904

In [38]:
c

[1, 2, 3, 4]

In [39]:
a.extend([6])

In [40]:
a

[1, 2, 3, 4, 6]

In [41]:
b

[1, 2, 3, 4]

In [42]:
c

[1, 2, 3, 4, 6]

In [43]:
b

[1, 2, 3, 4]

In [45]:
# 주소 확인??

In [24]:
# 인덱싱
a[0]

1

In [25]:
a[0]+a[2]

4

In [32]:
a[-1]

3

In [6]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [7]:
a[-1]
a[3]

['a', 'b', 'c']

In [28]:
a[3][0]

'a'

In [67]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
# 'Life' 어떻게 인덱싱?

In [68]:
a[2][2][0]

'Life'

In [47]:
## 리스트 슬라이싱
a = [1, 2, 3, 4, 5]

In [48]:
a[0:2]

[1, 2]

In [49]:
b = a[:2]

In [51]:
b[1] = 8

In [52]:
b

[1, 8]

In [53]:
a

[1, 2, 3, 4, 5]

In [54]:
c = a[2:]

In [56]:
c

[3, 4, 5]

In [57]:
c.insert(1,2)

In [58]:
c

[3, 2, 4, 5]

In [60]:
c.insert(0,[1,2])

In [76]:
c

[[1, 2], 3, 2, 4, 5]

In [61]:
c.extend([-2,-1])

In [62]:
c

[[1, 2], [1, 2], 3, 2, 4, 5, -2, -1]

In [ ]:
c

In [78]:
c

[[1, 2], 3, 2, 4, 5, -2, -1]

In [ ]:
## 리스트 연산

In [20]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [50]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [49]:
str(a[2]) + 'hi'

'3hi'

In [ ]:
## 리스트 수정과 삭제

In [ ]:
a = [1, 2, 3]
a[2] = 4

In [53]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [ ]:
## 리스트에 요소 추가

In [63]:
a = [1, 2, 3]
a.append(4)

In [65]:
a

[1, 2, 3, 4]

In [66]:
a.append([5,6])

In [67]:
a

[1, 2, 3, 4, [5, 6]]

In [80]:
a.append([5,6])

In [81]:
a

[1, 2, 3, 4, 5, [5, 6]]

In [82]:
import numpy as np

In [45]:
a.append(7,8,9)

TypeError: append() takes exactly one argument (3 given)

In [46]:
a.extend([7,8,9])

In [73]:
b = [1, 4, 3, 2]
b.sort()

In [74]:
b.sort()

In [75]:
b

[1, 2, 3, 4]

In [68]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [69]:
a.reverse()
a

['c', 'b', 'a']

In [93]:
## 리스트 내 인덱스 번호 반환
a.index('a')

2

In [76]:
## 리스트에 요소 삽입
b.insert(0,1)

In [77]:
b

[1, 1, 2, 3, 4]

In [78]:
b.insert(0,-1)

In [79]:
b

[-1, 1, 1, 2, 3, 4]

In [80]:
## 리스트 요소 제거
b.remove(1)

In [81]:
b

[-1, 1, 2, 3, 4]

In [48]:
## 기타
b.pop()

4

In [49]:
b

[1, 2, 3]

In [65]:
b

[-1, 1, 1, 2]

In [66]:
b.pop(2) # index2

1

In [67]:
b

[-1, 1, 2]

In [71]:
b.insert(3,1)

In [99]:
b

[-1, 1, 2, 3, 4]

In [73]:
b.count(1)

2

In [101]:
b.count(4)

1

In [102]:
b.append(1)

In [103]:
b

[-1, 1, 2, 3, 4, 1]

In [105]:
b.count(1)

2

In [98]:
?list.count

#### list sort 추가

In [82]:
nations = ['Korea0', 'Japan11', 'China222', 'Russia']

In [84]:
nations.sort()

In [85]:
nations

['China222', 'Japan11', 'Korea0', 'Russia']

In [87]:
nations.sort(reverse= True)

In [88]:
nations

['Russia', 'Korea0', 'Japan11', 'China222']

In [23]:
sorted(nations, reverse=True)

['Russia', 'Korea0', 'Japan11', 'China222']

In [24]:
sorted(nations, key = len)

['Korea0', 'Russia', 'Japan11', 'China222']

In [25]:
nations1 = ['Korea0', 'Japan11', 'China222', 'Russia']

In [26]:
nations1.sort(reverse = True)

In [27]:
nations1

['Russia', 'Korea0', 'Japan11', 'China222']

In [28]:
nations11 = ['Korea0', 'Japan11', 'China222', 'Russia']

In [29]:
nations11.sort(key = len)

In [30]:
nations11

['Korea0', 'Russia', 'Japan11', 'China222']

## 튜플

1) 불변 리스트  
2) 레코드를 담음 --> tuple unpacking

In [12]:
t1 = (1,) # 1개의 자료값 입력시 반드 , 붙어야 한다

In [14]:
type(t1)

tuple

In [10]:
t2 = (2)

In [15]:
type(t2)

int

In [23]:
t2 = (1,2,3)

In [24]:
t2[2] = 4

TypeError: 'tuple' object does not support item assignment

In [18]:
t3 = [1,2,3]

In [19]:
t3[2] = 5

In [20]:
t3

[1, 2, 5]

In [25]:
t2 = t2[1]

In [26]:
t2

2

In [67]:
t3 = 1,2,3

In [12]:
t4 = 1,

In [27]:
t1 = (1, 2, 'a', 'b')

In [28]:
t1[3]

'b'

In [29]:
# type error
t1[3] = 'c'

TypeError: 'tuple' object does not support item assignment

In [10]:
t1[1:]

(2, 'a', 'b')

In [57]:
t2 = (3, 4)

In [58]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [ ]:
t2 * 3

tuple unpacking

city, year, pop, # of metro line

In [6]:
record_tup = ('Seoul', 2021, 10, 9)

In [3]:
record1

('Seoul', 2021, 10, 9)

In [7]:
city, year, pop, metros = record_tup

In [8]:
print(city)
print(year)
print(pop)
print(metros)

Seoul
2021
10
9

In [9]:
record_list = ['Seoul', 2021, 10, 9]

In [10]:
city, year, pop, metros = record_list

In [11]:
city

'Seoul'

## 딕셔너리 자료형
키-밸류 구조

In [89]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [90]:
dic['name']

'pey'

In [106]:
dic.values()

dict_values(['pey', '0119993323', '1118'])

In [92]:
a = {1: 'hi'}

In [95]:
a.get(1)

'hi'

In [61]:
a = {'a': [1,2,3]}

In [48]:
a = {1: 'a'}

In [109]:
c = {1:('a','b')}
c

{1: ('a', 'b')}

In [62]:
a[2] = 'b'

In [63]:
a

{'a': [1, 2, 3], 2: 'b'}

In [64]:
a

{'a': [1, 2, 3], 2: 'b'}

In [65]:
a['name'] = 'pey'

In [66]:
a

{'a': [1, 2, 3], 2: 'b', 'name': 'pey'}

In [52]:
a[3] = [1,2,3]

{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [53]:
del a[1]

In [67]:
grade = {'pey': 10, 'julliet': 99}

In [68]:
grade['pey']

10

In [69]:
grade['julliet']

99

In [55]:
dic[1]

NameError: name 'dic' is not defined

In [73]:
dic['name']

'pey'

In [111]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [75]:
for k in dic.keys():
    print(k)

name
phone
birth

In [107]:
names = [k for k in dic.keys()]

In [108]:
names

['name', 'phone', 'birth']

In [76]:
d = list(dic.keys())

In [77]:
d

['name', 'phone', 'birth']

In [114]:
e = list(dic.values())

In [80]:
dic.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [81]:
dic.clear()

In [85]:
dic.get('name')

'pey'

In [86]:
'name' in dic

True

## 집합 자료형

In [ ]:
s1 = set([1,2,3])

In [ ]:
s2 = set("Hello")

#### 특징

중복을 허용하지 않는다.
순서가 없다(Unordered).
리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다. 딕셔너리와 비슷하다.(딕셔너리 역시 순서가 없는 자료형이라 인덱싱을 지원하지 않는다)

만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 해야 한다.

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [ ]:
# 교집합

In [ ]:
s1 & s2

In [ ]:
s1.intersection(s2)

In [ ]:
# 합집합

In [ ]:
s1 | s2

In [ ]:
s1.union(s2)

In [ ]:
# 차집합

In [ ]:
s1 - s2

In [ ]:
s2 - s1

In [ ]:
s1.difference(s2)

In [ ]:
# 1개의 값 추가

In [87]:
s1 = set([1, 2, 3])

In [ ]:
s1.add(4)

In [ ]:
# 여러값 추가

In [88]:
s1.update([4, 5, 6])

In [ ]:
s1.remove(2)

## 불(bool) 자료형

In [8]:
a = True
b = False

In [9]:
type(a)

bool

**[비교연산자 / 논리연산자]**

- ==
- !=
- ' > '
- ' < '
- ' >= '
- &
- |
- and
- or
- in

In [1]:
10 == 10

True

In [5]:
1 != 2

True

비교 연산자 &, and, |, or 사용시 주의가 필요하다

search : python operators precedence (연산자 우선 순위)

In [6]:
10 == 10 and 1 != 2

True

In [7]:
10 == 10 & 1 != 2

False

위 오류 어떻게 해결?

In [8]:
(10 == 10) & (1 != 2)

True

In [9]:
True & False

False

In [10]:
True or False

True

In [2]:
10 in [1,2,10]

True

In [3]:
3 in [1,2,10]

False

In [4]:
3 not in [2,4,6]

True

In [11]:
a = [1, 2, 3, 4]

In [12]:
while a:
    print(a.pop())

4
3
2
1

In [13]:
a

[]

### 기타 문자열 적용 유용 메서드

In [2]:
test_str = '   hp010-0000-1111ph   '
print(test_str)

   hp010-0000-1111ph

In [3]:
test_str1 = test_str.strip()
print(test_str1)

hp010-0000-1111ph

[str.strip() 확장]  
test_str1에서 ph와 hp를 제거하고 싶다면?

In [6]:
test_str1.rstrip('ph')

'hp010-0000-1111'

In [7]:
test_str1.lstrip('hp')

'010-0000-1111ph'

In [56]:
test_str2 = test_str1.replace('hp',"")
print(test_str2)

010-0000-1111ph

In [60]:
test_str3 = test_str1.split('-')
print(test_str3)

['hp010', '0000', '1111ph']

## 연습

1. a = "a:b:c:d" 에서 객체 a의 메서드를 이용하여 a#b#c#d으로 바꿔서 출력해보세요

2. [1,3,5,4,2]를 [5,4,3,2,1]로 만들어 보세요

3. ['This', 'is', 'awesome'] 리스트를 This is awesome 문자열로 만들어 출력해보세요

4. a = {'A':90,'B':80,'C':70} 에서 B에 해당하는 값 출력함과 동시에 a리스트에서 삭제

5. a = [1,1,1,2,2,3,3,3,4,4,5] 를 중복 숫자 없이 다음과 같이 만들어보세요 --> [1,2,3,4,5]

In [116]:
# 1.

a = "a:b:c:d"
print(a.replace(':',"#"))

a#b#c#d

In [117]:
# 2.
b = [1,3,5,4,2]
b.sort()
b.reverse()
b

[5, 4, 3, 2, 1]

In [129]:
# 3.
a = ['This', 'is', 'awesome']
print(a[0] + ' '+ a[1]+ ' ' + a[2])

This is awesome

In [3]:
print(a[0],a[1],a[2])

This is awesome

In [133]:
" ".join(a)

'This is awesome'

In [121]:
a[0] + ' ' + a[1] + ' ' + a[2]

'This is awesome'

In [2]:
# 4.
a = {'A':90,'B':80,'C':70}
print("B:",a.pop('B'))
a

B: 80

{'A': 90, 'C': 70}

In [96]:
# 5.
a = [1,1,1,2,2,3,3,3,4,4,5]
a_set = set(a)
b = list(a_set)
b

[1, 2, 3, 4, 5]

In [134]:
a = [1,1,1,2,2,3,3,3,4,4,5]

In [135]:
set(a)

{1, 2, 3, 4, 5}

In [123]:
a1 = str(a)