## 자료형 / 자료구조

- 숫자
- 문자열
- 리스트
- 딕셔너리
- 튜플
- 집합

In [11]:
50

50

In [13]:
'송현근'

'송현근'

In [15]:
True

True

In [20]:
a=120
b=40
a
b
2==3

False


## 숫자형 자료형(연산자)

In [21]:
a/b

3.0

In [23]:
a**2

14400

In [24]:
a%b

0

In [25]:
a//b

3

In [27]:
int(3)

3

In [28]:
a=5

In [29]:
type(a)

int

In [30]:
int(3.8)

3

In [32]:
float(2.4)

2.4

## 문자열

In [33]:
string = "i am sam"

In [34]:
string1 = 'this is awesome'

In [35]:
type(string)

str

In [36]:
'''life is too short, you need python'''

'life is too short, you need python'

In [40]:
"""life is too short, you need python"""

'life is too short, you need python'

In [41]:
'she is paul\'s friend'

"she is paul's friend"

In [42]:
'"python is very easy." he says'

'"python is very easy." he says'

In [44]:
"\"python is very easy.\" he says."

'"python is very easy." he says.'

## 개행 (줄 바꾸기)

In [45]:
multiline = "i am sam\nwho is this"
print(multiline)

i am sam
who is this

In [48]:
multiline1 = '''i am sam
who is this'''
print(multiline1)

i am sam
who is this

In [52]:
h="i "
t='am sam'

In [53]:
h+t

'i am sam'

In [54]:
h+t*2

'i am samam sam'

In [55]:
print("="*20)
print("awesome")
print("="*20)

====================
awesome
====================

In [56]:
len((h+t))

8

## 문자열 인덱싱

In [63]:
(h+t)[3]

'm'

In [64]:
(h+t)[7]

'm'

In [65]:
d=h+t
print(d)

i am sam

In [66]:
d

'i am sam'

## 문자열 슬라이싱

In [67]:
d[0:2] #마지막 숫자 범위 포함 X

'i '

In [68]:
d[0]+d[1]+d[2]+d[3]

'i am'

In [69]:
d[-1]

'm'

In [70]:
d

'i am sam'

In [71]:
len(d)

8

In [72]:
d[-8]

'i'

In [74]:
d[-8:-4]

'i am'

In [75]:
test = '20190727cool'

In [79]:
year=test[:4]
date=test[4:8]
condition=test[8:]

In [80]:
print(year)
print(date)
print(condition)

2019
0727
cool

In [81]:
test[:-4]+"k"+test[9:]

'20190727kool'

In [83]:
test[8]

'c'

## test=[year,date] 위 문자열을 수치형으로 바꾸고 싶다면?
### 방법 1: for loop
### 방법 2: map()

In [84]:
test=[year,date]

In [85]:
test

['2019', '0727']

In [86]:
test[1]

'0727'

In [87]:
int(date)

727

In [88]:
int(test[0])+1

2020

## 문자열 포맷팅

In [89]:
"I eat %d apples." %3

'I eat 3 apples.'

In [94]:
"I eat %s apples." %5

'I eat 5 apples.'

In [95]:
"현재 온도는 %d도 입니다." %20

'현재 온도는 20도 입니다.'

In [96]:
"현재 온도는 %s도 입니다." %"이십"

'현재 온도는 이십도 입니다.'

In [97]:
num=7
"I eat %d apples." %num

'I eat 7 apples.'

In [98]:
number=10
day="three"
"I ate %d apples.so I was sick for %s days." %(number, day)

'I ate 10 apples.so I was sick for three days.'

## %기호를 붙일 때

In [99]:
print("probability is 99%")

probability is 99%

In [100]:
print("probability is %d%%" %99)

probability is 99%

## 문자열 정렬 및 공백

In [101]:
t = "%10s"%"hi" # 전체 문자열 10칸

In [102]:
t

'        hi'

In [104]:
"%0.4f"%3.141592

'3.1416'

In [105]:
"%10.4f"%3.141592

'    3.1416'

### format 함수 사용 포매팅

In [116]:
"I eat {} apples.".format(3)

'I eat 3 apples.'

In [107]:
"{}".format(5.22)

'5.22'

In [111]:
"{:10.4f}".format(3.425897)

'    3.4259'

In [112]:
"{:.1f}".format(3.425897)

'3.4'

In [113]:
a=" I am {}"

In [114]:
a.format(20)

' I am 20'

In [115]:
a.format("soso")

' I am soso'

In [117]:
number=10
day="three"
"i ate {} apples. so i was sick for {} days.".format(day,day)

'i ate three apples. so i was sick for three days.'

In [124]:
number = 10
day="three"
"i ate {number} apples.so i was sick for {day} days.".format(number=9,day="three")

'i ate 9 apples.so i was sick for three days.'

In [128]:
"i ate {number} apples. so i was sick for {number} days.".format(number=9)

'i ate 9 apples. so i was sick for 9 days.'

## 인덱스 / 이름 혼용

In [132]:
day = 3
"i ate {0} apples. so i was sick for {day} days.".format(10,day=3)

'i ate 10 apples. so i was sick for 3 days.'

### 왼쪽 정렬

In [136]:
"{}".format("hi")

'hi'

In [145]:
"{0:a<10}".format("hi")

'hiaaaaaaaa'

### 오른쪽 정렬

In [144]:
"{0:0>10}".format("hi")

'00000000hi'

In [149]:
"{0:=^10}".format("hi")

'====hi===='

# 리스트 자료형 [ ]

In [150]:
odd=[1,3,5,7,9]

In [161]:
a=[1,2,"a"]

In [152]:
type(a)

list

In [153]:
type(odd)

list

In [228]:
# 빈 리스트
a=[]
a.extend([1,2,3])
a

[1, 2, 3]

In [231]:
a.extend([4,5])
a

[1, 2, 3, 4, 5, 4, 5]

In [192]:
a.pop()

5

In [193]:
a

[1, 2, 3, 4]

In [194]:
# 인덱싱
a[0]

1

In [195]:
a[-1]

4

In [196]:
a=[1,2,3,['a','b','c']]

In [201]:
a[-1]

['a', 'b', 'c']

In [202]:
a=[1,2,['a','b',['c','d']]]

In [206]:
a[2][2][0]

'c'

### 리스트 슬라이싱

In [207]:
a=[1,2,3,4,5]

In [208]:
a[0:2]

[1, 2]

In [209]:
b=a[:2]

In [210]:
c=a[2:]

In [211]:
c

[3, 4, 5]

In [212]:
c.insert(1,2)

In [213]:
c

[3, 2, 4, 5]

In [214]:
c.insert(0,[1,2])

In [215]:
c

[[1, 2], 3, 2, 4, 5]

In [216]:
c.extend([-2,-1])
c

[[1, 2], 3, 2, 4, 5, -2, -1]

### 리스트 연산

In [217]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [218]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [219]:
str(a[2])+'hi'

'3hi'

### 리스트 수정과 삭제

In [220]:
a=[1,2,3]
a[2]=4

In [221]:
a

[1, 2, 4]

In [222]:
a=[1,2,3]
del a[1]
a

[1, 3]

## 다양한 리스트 함수

In [223]:
a = [1,2,3]
a.append(4)

In [224]:
a

[1, 2, 3, 4]

In [225]:
a.append([5,6])

In [226]:
a

[1, 2, 3, 4, [5, 6]]

In [232]:
?list.append

In [237]:
b=[1,4,3,2]
b.sort()  ## 정렬
b

[1, 2, 3, 4]

In [241]:
b=['ㄱa','ㄱㄱ']
b.sort()
b

['ㄱa', 'ㄱㄱ']

# 튜플  ( )
## -불변 리스트
## -레코드를 담음 ==> tuple unpacking

In [245]:
t1=(1,) #1개의 자료값 입력시 반드시 , 붙여야 한다.
t1

(1,)

In [247]:
t2=(1,2,4)
t2

(1, 2, 4)

In [248]:
type(t2)

tuple

In [255]:
t2[2]

4

In [258]:
t3=(1,2,'a')

In [259]:
t3*3

(1, 2, 'a', 1, 2, 'a', 1, 2, 'a')

## tuple unpacking 

#### city year pop # of metro line

In [260]:
record_tup=("Seoul",2021,10,9)

In [262]:
record_tup

('Seoul', 2021, 10, 9)

In [263]:
city,year,pop,metros=record_tup

In [275]:
print(city);print(year);print(pop);print(metros)

Seoul
2021
10
9

# 딕셔너리 자료형 { }
## Key - Value 구조

In [289]:
dic={"name":"pey","phone":"01040505823","birth":"0918"}

In [277]:
dic['name']

'pey'

In [284]:
dic.values()

dict_values(['pey', '01040505823', '0918'])

In [285]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [290]:
dic1={1:2,"3":4,5:"a"}

In [291]:
dic1

{1: 2, '3': 4, 5: 'a'}

In [298]:
list(dic.values())[0]

'pey'

In [300]:
dic2={"a":("a","b"),"b":[2,3]}

In [304]:
dic2={"a":1}
dic2

{'a': 1}

In [305]:
dic2[3]="dd"

In [306]:
dic2

{'a': 1, 3: 'dd'}

In [325]:
dic={"name":"pey","phone":"01040505823","birth":"0918"}
del dic['name']

In [326]:
dic

{'phone': '01040505823', 'birth': '0918'}

In [327]:
dic["name"]="song"

In [311]:
dic

{'phone': '01040505823', 'birth': '0918', 'name': 'song'}

In [312]:
from sklearn import datasets

In [313]:
iris = datasets.load_iris()

In [314]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [316]:
iris["target"]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [318]:
dic

{'phone': '01040505823', 'birth': '0918', 'name': 'song'}

In [319]:
e= list(dic.values())

In [320]:
dic.items()

dict_items([('phone', '01040505823'), ('birth', '0918'), ('name', 'song')])

In [321]:
dic

{'phone': '01040505823', 'birth': '0918', 'name': 'song'}

In [322]:
dic.clear() #초기화

In [328]:
dic.get("name")

'song'

In [329]:
dic["name"]

'song'

# 집합 자료형 Set

In [333]:
s1=set([1,2,3])
s1

{1, 2, 3}

In [334]:
s2=set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [332]:
type({1,2})

set

In [336]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
print(s1);print(s2)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

In [337]:
# 교집합
s1&s2

{4, 5, 6}

In [338]:
s1.intersection(s2)

{4, 5, 6}

In [339]:
# 합집합
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [340]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [341]:
# 차집합
s1-s2

{1, 2, 3}

In [343]:
s1.difference(s2)

{1, 2, 3}

In [348]:
# 1개의 값 추가
s1=set([1,2,3])
s1

{1, 2, 3}

In [349]:
s1.add(4)
s1

{1, 2, 3, 4}

In [350]:
# 여러값 추가
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [351]:
s1.remove(2)
s1

{1, 3, 4, 5, 6}

# Bool 자료형 : 논리값

In [352]:
a=True
b=False

In [353]:
type(a)

bool

## [비교연산자 / 논리연산자]

- ==
- !=
- '>','<'
- '>=','<='
- &
- |
- and
- or
- in

In [354]:
1==1

True

In [355]:

1!=2

True

비교 연산자 &, and, |, or 사용시 주의가 필요하다
search : python operators precedence (연산자 우선 순위)

In [356]:
10==10 and 1!=2

True

In [361]:
print(10==10 & 1!=2)
(10==10) & (1!=2)

False

True

In [371]:
True & False

False

In [372]:
True or False

True

In [373]:
10 in [1,2,10]

True

In [374]:
3 in[1,2,10]

False

In [378]:
a=[1,2,3,4]

# 기타 문자열 적용 유용 method

In [379]:
test_str='     hp010-0000-1111ph   '

In [380]:
print(test_str)

     hp010-0000-1111ph

In [422]:
test_str1=test_str.strip()
print(test_str1)

hp010-0000-1111ph

### str.strip() 확장
### test_str1에서 ph와 hp를 제거하고 싶다면?

In [383]:
test_str1.rstrip('ph')

'hp010-0000-1111'

In [388]:
test_str1.lstrip('hp')

'010-0000-1111ph'

In [389]:
test_str2=test_str1.replace('hp','')

In [390]:
test_str2

'010-0000-1111ph'

In [393]:
test_str3=test_str1.split('-')
test_str3

['hp010', '0000', '1111ph']

In [423]:
test_str1.strip('hp,ph')

'010-0000-1111'

# 연습
### 1. a="a:b:c:d"에서 객체 a의 method를 이용하여 a#b#c#d로 바꿔서 출력하시오
### 2. [1,3,5,4,2]를 [5,4,3,2,1]로 만드시오
### 3. ['This','is','awesome'] 리스트를 this is awesome 문자열로 만들어 출력하시오
### 4. a={"A":90,"B":80,"C":70} 에서 B에 해당하는 값을 출력함과 동시에 a 딕셔너리에서 삭제
### 5. a=[1,1,1,2,2,3,3,3,4,4,5]를 중복 숫자 없이 다음과 같이 만드시오 -> [1,2,3,4,5]

In [397]:
# 1
a="a:b:c:d"
a.replace(":","#")

'a#b#c#d'

In [417]:
# 2
b=[1,3,5,4,2]
b.sort()
b.reverse()
b

[5, 4, 3, 2, 1]

In [404]:
# 3
c= ["This","is","awesome"]
c[0]+" "+c[1]+" "+c[2]

'This is awesome'

In [407]:
# 4
a={"A":90,"B":80,"C":70}
print(a.pop("B"))
print(a)

80
{'A': 90, 'C': 70}

In [424]:
# 5
a=[1,1,1,2,2,3,3,3,4,4,5]
list(set(a))

[1, 2, 3, 4, 5]