# If 조건문
### if 조건문 : 문장1 문장2 문장3

In [1]:
money =True
if money :
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

In [2]:
a=10
if a>=10:
    print("yes")

yes

In [3]:
money = 2000
if money >=3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [4]:
money = 3000
card=True
if money >=3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [5]:
(money >=3000 or card) is True

True

In [6]:
pocket = ['paper','cellphone','money']
if 'money' in pocket:
    print("택시를 타고 가라")
else :
    print("걸어가라")

택시를 타고 가라

In [7]:
pocket = ['paper','cellphone','money']
if 'money' in pocket:
    pass
else :
    print("카드를 꺼내라")

In [8]:
pocket=["paper",'cellphone']

if 'money' in pocket:
    print("택시를 타고 가라")
elif "card" in pocket:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [9]:
score =50
if score >=60:
    message="success"
else:
    message="failure"
message

'failure'

In [10]:
message="success" if score >= 60 else "failure"
message

'failure'

# 반복문 while

### while 조건문: 문장1 문장2 문장3

In [11]:
i = 1
while i<11:
    print("hello world")
    i+=1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [12]:
i=1
while i<6:
    print("{}회 hello world".format(i))
    i+=1

1회 hello world
2회 hello world
3회 hello world
4회 hello world
5회 hello world

In [13]:
i=1
while i<6:
    print(i,"회 hello world")
    i+=1

1 회 hello world
2 회 hello world
3 회 hello world
4 회 hello world
5 회 hello world

In [14]:
i=1
while True:
    print("{}회 hello world".format(i))
    i+=1
    if i==11: 
        print("종료") 
        break

1회 hello world
2회 hello world
3회 hello world
4회 hello world
5회 hello world
6회 hello world
7회 hello world
8회 hello world
9회 hello world
10회 hello world
종료

In [15]:
i=1
while True:
    print("나무를 {}번 찍었습니다.".format(i))
    i+=1
    if i==11: 
        print("나무 넘어갑니다.") 
        break

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [16]:
i=1
while True:
    print("나무를 %d번 찍었습니다."%i)
    i+=1
    if i==11: 
        print("나무 넘어갑니다.") 
        break

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

## 주사위 놀이
### 주사위 눈이 6이 나오면 종료, 총 던진 횟수 출력

In [17]:
import numpy as np

In [18]:
?np.random.randint

In [19]:
np.random.randint(1,7,size=100)

array([1, 1, 2, 4, 3, 4, 4, 5, 4, 6, 5, 4, 6, 4, 2, 6, 1, 4, 5, 3, 4, 1,
       5, 3, 1, 2, 4, 5, 2, 6, 5, 3, 3, 2, 6, 3, 4, 6, 4, 4, 1, 4, 4, 6,
       2, 3, 4, 6, 1, 6, 4, 5, 2, 5, 2, 6, 6, 6, 4, 5, 4, 1, 4, 5, 2, 1,
       5, 2, 4, 5, 4, 1, 4, 4, 1, 4, 3, 6, 5, 4, 5, 3, 3, 4, 1, 6, 2, 5,
       6, 4, 2, 6, 4, 6, 3, 2, 1, 1, 2, 6])

# Quiz

1) hello world 매 10회마다 출력 100번까지 총 10회 출력

2) 주사위 눈이 6이 나오면 종료
해당 시행에서 나온 눈을 출력하고, 총 던진 횟수 출력하세요

3) 커피머신 : 다음과 같은 메시지를 출력하는 커피머신 루프

돈을 받았으니 커피를 줍니다.  
남은 커피의 양은 10개입니다.  
돈을 받았으니 커피를 줍니다.  
남은 커피의 양은 9개입니다.  
돈을 받았으니 커피를 줍니다.  
남은 커피의 양은 8개입니다.  
돈을 받았으니 커피를 줍니다.  
남은 커피의 양은 7개입니다.  
돈을 받았으니 커피를 줍니다.  
.  
.
.   
남은 커피의 양은 0개입니다.  
커피 공급을 중지합니다.

In [23]:
# 1) 
i=1
while i <101:
    if i%10==0:
        print(i,"회 hello world")
    i=i+1

10 회 hello world
20 회 hello world
30 회 hello world
40 회 hello world
50 회 hello world
60 회 hello world
70 회 hello world
80 회 hello world
90 회 hello world
100 회 hello world

In [21]:
# 2)
result=0
i=0
while result!=6:
    result=np.random.randint(1,7)
    print("나온 눈은",result)
    i=i+1
    if result==6:
        print("던진 횟수:",i)

나온 눈은 5
나온 눈은 5
나온 눈은 5
나온 눈은 4
나온 눈은 6
던진 횟수: 5

In [22]:
# 3)
i=10
while i>=0:
    print("돈을 받았으니 커피를 줍니다.")
    print("남은 커피의 양은 %d개입니다."%i)
    i=i-1
print("남은 커피가 없어 공급을 중지합니다.")

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 10개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
남은 커피가 없어 공급을 중지합니다.

# for 문
for 변수 in 리스트(튜플,문자열):
     문장1
     문장2

In [24]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
sum=0
for i in range(10):
    sum+=i
sum

45

In [31]:
a=[]
for i in range(1,5):
    a.append(i)

### Quiz
아래의 루프 구현

나무 1번 찍었습니다  
나무 2번 찍었습니다  
나무 3번 찍었습니다  
.  
.  
나무 10번 찍었습니다  
넘어갑니다

In [37]:
for i in range(1,11):
    print("나무 %d번 찍었습니다"%i)
print("넘어갑니다")

나무 1번 찍었습니다
나무 2번 찍었습니다
나무 3번 찍었습니다
나무 4번 찍었습니다
나무 5번 찍었습니다
나무 6번 찍었습니다
나무 7번 찍었습니다
나무 8번 찍었습니다
나무 9번 찍었습니다
나무 10번 찍었습니다
넘어갑니다

## enumerate

In [38]:
p=["money","card"]
enumerate(p)

In [39]:
## enumerate 
p=['money','card']
for idx,value in enumerate(p):
    print(idx,value)

0 money
1 card

In [42]:
for idx,value in enumerate(p):
    print("idx : %d , value : %s"%(idx,value))

idx : 0 , value : money
idx : 1 , value : card

## zip

In [43]:
p=['money','card']
q=[10,20,30]
for num,word in zip(q,p):
    print(num,word)

10 money
20 card

In [44]:
p=['money','card']
q=[10,20,30]
for pair in zip(q,p):
    print(pair)

(10, 'money')
(20, 'card')

In [49]:
# 구구단
for i in range(2,10):
    print("== %d 단 =="%i)
    for j in range(1,10):
        print("%d * %d = %d"%(i,j,i*j))
    print("\n")

== 2 단 ==
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


== 3 단 ==
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27


== 4 단 ==
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


== 5 단 ==
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45


== 6 단 ==
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


== 7 단 ==
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63


== 8 단 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


== 9 단 ==
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 리스트 컴프리핸션(내포)

In [52]:
a=[1,2,3,4]
result=[num *3 for num in a]
result

[3, 6, 9, 12]

In [54]:
a=[1,2,3,4]
result=[]
for num in a:
    result.append(num*3)
result

[3, 6, 9, 12]

# 사용자 정의 함수

In [55]:
def add(a,b):
    result = a+b
    return result

In [56]:
add(2,3)

5

In [64]:
# 결과값이 없는 함수
def adding(a,b):
    print("%d, %d의 합은 %d 입니다."%(a,b,a+b))

In [65]:
adding(3,4)

3, 4의 합은 7 입니다.

In [68]:
b=adding(7,8)

7, 8의 합은 15 입니다.

In [69]:
def cal(a,b):
    res=a+b
    res2=a-b
    return res,res2

In [70]:
cal(2,1)

(3, 1)

## 사용자 정의 함수에 초기값을 지정하는 경우

- 초기값이 지정된 인수가 입력되지 않으면 초기값이 실행
- 새로운 파라미터가 입력되면 입력값으로 실행

In [76]:
def say_myself(name,old,man=True):
    """
    old : 나이 ( integer only )
    """
    print("나의 이름은 %s입니다."%name)
    print("나이는 %d살입니다."%old)
    if man:
        print("나는 남자입니다.")
    else :
        print("나는 여자입니다.")

In [77]:
say_myself("송현근",26)

나의 이름은 송현근입니다.
나이는 26살입니다.
나는 남자입니다.

In [78]:
?say_myself

## 함수 안 변수의 효력

In [88]:
# 지역변수
a=1
def vartest(a):
    a=a+1
    return a

In [89]:
vartest(a)

2

In [90]:
a

1

In [91]:
# 전역변수
c=1
def vartest1(a):
    global c
    c=c+1

In [94]:
vartest1(c)

In [95]:
c

3

### lambda 표현식 ( 함수 정의의 다른 방법 )
### 함수이름 = lambda 매개변수 : 함수식

In [100]:
add = lambda a, b:a+b

In [97]:
lambda a,b:a+b

# input

In [101]:
a=input()

dd

In [105]:
number = int(input("정수를 입력하시오 : "))

정수를 입력하시오 : 5

# 파일 읽고 쓰기

In [106]:
# 1. 파일 생성

In [112]:
f=open("examples/test.txt","w")
data=" "
f.write(data)
f.close()

In [125]:
f=open("examples/test.txt","w")
for i in range(1,11):
    data="%d번째 줄입니다.\n"%i
    f.write(data)
f.close()

In [116]:
f=open("examples/test1.csv","w")
for i in range(1,11):
    data="%d번째 줄입니다.\n"%i
    f.write(data)
f.close()

In [117]:
# 2. 파일 읽어오기
# 2.1 readline()

In [127]:
f=open("examples/test.txt","r")
line=f.read()
print(line)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [123]:
f=open("examples/test1.csv","r")
line=f.readline()
print(line)

1번째 줄입니다.

In [128]:
#readline() 전체 읽어오기
with open("examples/test.txt","r") as f:
    while True:
        line=f.readline()
        if not line: break
        print(line)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [130]:
#readline() 전체 읽어오기
text=[]
with open("examples/test.txt","r") as f:
    while True:
        line=f.readline()
        text.append(line)
        if not line: break
        print(line)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [131]:
text

['1번째 줄입니다.\n',
 '2번째 줄입니다.\n',
 '3번째 줄입니다.\n',
 '4번째 줄입니다.\n',
 '5번째 줄입니다.\n',
 '6번째 줄입니다.\n',
 '7번째 줄입니다.\n',
 '8번째 줄입니다.\n',
 '9번째 줄입니다.\n',
 '10번째 줄입니다.\n',
 '']

In [133]:
f=open("examples/test.txt",'r')
data1=f.readlines()
f.close()

In [134]:
data1

['1번째 줄입니다.\n',
 '2번째 줄입니다.\n',
 '3번째 줄입니다.\n',
 '4번째 줄입니다.\n',
 '5번째 줄입니다.\n',
 '6번째 줄입니다.\n',
 '7번째 줄입니다.\n',
 '8번째 줄입니다.\n',
 '9번째 줄입니다.\n',
 '10번째 줄입니다.\n']

In [136]:
f=open("examples/test.txt",'r')
data2=f.read()
f.close()

In [137]:
data2

'1번째 줄입니다.\n2번째 줄입니다.\n3번째 줄입니다.\n4번째 줄입니다.\n5번째 줄입니다.\n6번째 줄입니다.\n7번째 줄입니다.\n8번째 줄입니다.\n9번째 줄입니다.\n10번째 줄입니다.\n'

# Quiz 
https://cafe.naver.com/qualbig day02 연습

In [141]:
#1 
sum=0
for i in range(1,1001):
    if i%3==0:
        sum+=i
        
    else:
        continue
print(sum)

166833

In [164]:
# 2-1)

for i in range(1,6):
    a="*"*i
    print(a)

*
**
***
****
*****

In [165]:
# 2-2)
for i in range(1,6):
    a=" "*(6-i)+"*"*(i)
    print(a)

     *
    **
   ***
  ****
 *****

In [168]:
# 2-3)
for i in range(1,6):
    a=" "*(i-1)+"*"*(11-2*i)
    print(a)

*********
 *******
  *****
   ***
    *

In [146]:
#3
for i in range(1,101):
    if i%7==0:
        print(i)
    else:
        continue

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [150]:
#4
mid = [70,60,55,75,95,90,80,80,85,100]
sum=0
for i in mid:
    sum+=i
sum/len(mid)

79.0

# 리스트 컴프리헨션  
[ 표현식 for 변수명 in 시퀀스 if 조건]

===>  
result = [ ]  
for 변수명 in 시퀀스:  
　　if 조건:  
　　　　result.append(표현식)

In [152]:
#5 https://wikidocs.net/84393

numbers=[1,2,3,4,5]
[n*2 for n in numbers if n%2==1]

[2, 6, 10]