In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import cx_Oracle 
from sqlalchemy import create_engine, text

In [2]:
df = sns.load_dataset('titanic')

In [5]:
## DB connection
conn = create_engine('oracle://c##big:123@localhost:1521/orcl')

In [8]:
df = df.astype('object')

In [9]:
df.fillna('',inplace=True)

In [10]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [13]:
qry='''
insert into titanic_ref(survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone) values\
(:survived, :pclass, :sex, :age, :sibsp, :parch, :fare, :embarked, :class, :who, :adult_male, :deck, :embark_town, :alive, :alone)
'''

In [14]:
stmt=text(qry)

In [20]:
x=df.iloc[0,:].to_dict()

In [21]:
df = df.astype('object')

In [22]:
conn.execute(stmt,**x)

In [25]:
for i in range(len(df)):
    data=df.iloc[i,:].to_dict()
    conn.execute(stmt,**data)
    ##   **뜻 parameter를 dictionary 형식으로 전달

In [27]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22,1,0,7.25,S,Third,man,True,,Southampton,no,False
1,1,1,female,38,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26,0,0,7.925,S,Third,woman,False,,Southampton,yes,True
3,1,1,female,35,1,0,53.1,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35,0,0,8.05,S,Third,man,True,,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27,0,0,13,S,Second,man,True,,Southampton,no,True
887,1,1,female,19,0,0,30,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,,1,2,23.45,S,Third,woman,False,,Southampton,no,False
889,1,1,male,26,0,0,30,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32,0,0,7.75,Q,Third,man,True,,Queenstown,no,True