In [1]:
from pyspark.sql import SparkSession
import warnings
warnings.filterwarnings('ignore')

In [ ]:
spark = SparkSession.builder.master('local').appName('Basics').getOrCreate()

In [3]:
df = spark.read.json('people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [11]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [13]:
data_schema = [StructField("age", IntegerType(), True), StructField("name", StringType(), True)]

In [14]:
final_struc = StructType(fields=data_schema)

In [15]:
df = spark.read.json('people.json', schema=final_struc)

In [16]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [17]:
df['age']

Column<'age'>

In [18]:
type(df['age'])

pyspark.sql.column.Column

In [19]:
df.select('age')

DataFrame[age: int]

In [20]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [21]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [22]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [23]:
df['age', 'name']

DataFrame[age: int, name: string]

In [24]:
df.select(['age', 'name'])

DataFrame[age: int, name: string]

In [25]:
# df.select('age', 'name') <- 틀린 표현

In [26]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [28]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [29]:
df.withColumnRenamed('age', 'supernewage').show()

+-----------+-------+
|supernewage|   name|
+-----------+-------+
|       null|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

In [30]:
df.withColumn('doubleage', df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [31]:
df.withColumn('add_one_age', df['age']+1).show()

+----+-------+-----------+
| age|   name|add_one_age|
+----+-------+-----------+
|null|Michael|       null|
|  30|   Andy|         31|
|  19| Justin|         20|
+----+-------+-----------+

In [32]:
df.withColumn('falf_age', df['age']/2)

DataFrame[age: int, name: string, falf_age: double]

In [34]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
df.createOrReplaceTempView("people")

In [36]:
sql_results = spark.sql("SELECT * FROM people")

In [38]:
sql_results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
spark.sql("SELECT * FROM people WHERE age=30").show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [40]:
spark.sql("SELECT name FROM people WHERE age=30").show()

+----+
|name|
+----+
|Andy|
+----+