# **정박지별로 생존유무**

In [108]:
import pandas as pd                                 # back end
import numpy as np                                  # back end
import dash                                         # front end
import dash_core_components as dcc                  # front end
import dash_html_components as html                 # front end
import dash_bootstrap_components as dbc             # front end
import plotly.express as px                         # back end

import cx_Oracle
from sqlalchemy import create_engine                # back end
from dash.dependencies import Input, Output, State  # back end

In [109]:
# back-end
conn = create_engine('oracle://c##big:123@localhost:1521/orcl')
df = pd.read_sql_query('select * from titanic',conn)
df_1 = pd.read_sql_query('''select passengers, count(*) as cnt from titanic group by passengers''',conn)
df_2 = pd.read_sql_query('''select passengers, embarked, count(*) as cnt 
                            from titanic 
                            where embarked is not null
                            group by passengers, embarked''',conn)
df_2.groupby(['passengers','embarked']).sum()

                     cnt
passengers embarked
Perished   C          96
           Q          30
           S         509
Survived   C         116
           Q          20
           S         273

In [110]:
# front-end
app = dash.Dash(__name__,external_stylesheets = [dbc.themes.GRID])

In [111]:
app.layout = html.Div(
    [
        html.H1('First My App'),
        dcc.Dropdown(
            id = 'my-dropdown',
            options = [
                {"label": i,"value": i } for i in df_2.embarked.unique()
            ],
            value = df_2.embarked.unique()[0]
        ),
        dcc.Graph(
            id = 'my-graph'
        )
    ]
)

In [112]:
@app.callback(
    Output('my-graph','figure'),
    [Input('my-dropdown','value')]
)

def embarked_search(embarked):
    bar = px.bar(x = df_2.loc[df_2.embarked==embarked].passengers, y = df_2.loc[df_2.embarked==embarked].cnt)
    return bar

In [ ]:
app.run_server(host = '127.0.0.1',port = '7777')

Dash is running on http://127.0.0.1:7777/

Dash is running on http://127.0.0.1:7777/

Dash is running on http://127.0.0.1:7777/

Dash is running on http://127.0.0.1:7777/

Dash is running on http://127.0.0.1:7777/

Dash is running on http://127.0.0.1:7777/

Dash is running on http://127.0.0.1:7777/

Dash is running on http://127.0.0.1:7777/

Dash is running on http://127.0.0.1:7777/

Dash is running on http://127.0.0.1:7777/

Dash is running on http://127.0.0.1:7777/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:7777/ (Press CTRL+C to quit)
127.0.0.1 - - [18/May/2021 13:40:48] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [18/May/2021 13:40:48] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [18/May/2021 13:40:48] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [18/May/2021 13:40:48] "GET /_favicon.ico?v=1.20.0 HTTP/1.1" 200 -
127.0.0.1 - - [18/May/2021 13:40:48] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [18/May/2021 13:40:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [18/May/2021 13:40:54] "POST /_dash-update-component HTTP/1.1" 200 -